a {
    color: #6099ff;
}

.signup-section {
    display: grid;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    overflow: hidden;
    border-radius: 1rem;
    grid-template-columns: 1fr;
}

.video-container {
    position: relative;
    border-top-left-radius: 1rem;
    overflow: hidden;
    height: 20rem;
}

.video-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: inset 0 0 500px rgba(0, 0, 0, 1);
    pointer-events: none;
    z-index: 9;
    filter: blur(5);
    height: 100%;
}

.video-container video {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the video covers the entire container */
    position: absolute;
    top: 0;
    left: 0;
}

.image-container img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: #fff;
    overflow: hidden;
    padding: 1rem;
}

form,
.form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 1rem;
    z-index: 2;
}

form .title,
.form .title {
    font-family: "Lora", serif;
    font-size: 2rem;
    margin-bottom: 1rem;
}

form .actions,
.form .actions {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
    gap: 1rem;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
}

.form-group.password {
    position: relative;
}

.form-group .eye-icon {
    position: absolute;
    width: 1.25rem;
    right: 1rem;
    top: 2.5rem;
    opacity: 0.5;
    cursor: pointer;
}

.form-group-row {
    display: flex;
    gap: 0.75rem;
    width: fit-content;
}
.form-group input,
.form-group textarea {
    font-size: inherit;
    font-family: inherit;
    padding: 0.75rem;
    width: 100%;
    border-radius: 0.25rem;
    border: 1px solid rgba(0, 0, 0, 0.25);
}

.form-group input::placeholder,
.form-group textarea::placeholder {
    opacity: 0.5;
    font-weight: 300;
}

.submit-btn {
    text-transform: capitalize;
}

.submit-btn:disabled {
    opacity: 0.5;
}

.shape {
    z-index: 1;
    position: absolute;
}
.shape.top {
    right: 0;
    top: 0;
}

.shape.bottom {
    right: -2rem;
    bottom: -5rem;
}

.already-reg {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    margin-top: 1rem;
    flex-wrap: wrap;
}

/* login */

.login-section {
    background-image: url("assets/clouds.jpg");
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    height: 87vh;
    padding: 1rem;
}

.login-section .form-container {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 1rem;
    padding: 1rem;
}

.login-section .shape.top {
    right: -5rem;
    top: 0;
}

.login-section .shape.bottom {
    bottom: 0;
    right: -15rem;
}

.error-msg {
    color: red;
    font-size: 0.85rem;
}

.error-msg.hide {
    display: none;
}

.modal-desc {
    font-weight: 300;
}

.modal-action-btn {
    margin: 1rem auto;
}

@media (min-width: 768px) {
    .login-section {
        height: auto;
        min-height: 80vh;
    }

    form {
        min-width: 25rem;
    }

    .login-section .form-container {
        width: 32rem;
        padding: 2rem;
    }

    .signup-section .form-container {
        padding-bottom: 2.5rem;
    }
}

@media (min-width: 1024px) {
    .signup-section {
        grid-template-columns: 40% 1fr;
        height: 80vh;
    }

    .video-container {
        height: auto;
    }
}

@media (min-width: 1440px) {
}

@media (min-width: 1600px) {
}

@media (min-width: 1920px) {
    .login-section .shape.top {
        right: 0;
    }

    .login-section .shape.bottom {
        right: -30%;
    }
}
