.add-blog-title {
    border-bottom: 1px solid #ccc;
    padding-bottom: 0.5rem;
    margin-bottom: 2rem;
    font-size: 1.25rem;
    font-weight: 500;
    font-family: "Lora", serif;
    text-align: center;
}

form .actions {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1rem;
}

form .actions button {
    text-transform: capitalize;
}

.submit-btn {
    margin: 0;
}

.blogs-grid {
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    align-items: stretch; /* Ensure all items stretch to the height of the tallest item */
}

.blog {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 1rem;
    overflow: hidden;
    display: block;
    color: #333;
    text-decoration: none;
    transition: all 0.25s ease;
}

.blog:hover {
    transform: translateY(-3px);
}

.blog .thumbnail {
    width: 100%;
    object-fit: cover;
    height: 22rem;
}

.blog .text-content {
    padding: 1rem;
}

.info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.tag {
    background-color: #e0c8c6;
    text-transform: uppercase;
    font-weight: 300;
    width: fit-content;
    padding: 0.25rem 1rem;
    letter-spacing: 2px;
}

.title {
    font-family: "Lora", serif;
    font-size: 1.25rem;
    font-style: italic;
    margin: 1rem 0;
}

.blog .description {
    font-weight: 300;
    font-size: 1rem;
    display: -webkit-box; /* For Safari */
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5; /* Limit to 5 lines */
    overflow: hidden; /* Hide overflow text */
    text-overflow: ellipsis; /* Add ellipsis */
    max-height: 7.5em; /* Adjust based on line height (5 lines x 1.5em) */
    line-height: 1.5em; /* Set line height */
}

/* blog-container */

.blog-container {
    margin-top: 4rem;
    position: relative;
}

.blog-container .main-content {
    display: flex;
    gap: 2rem;
}

.blog-container .description {
    font-size: 1.05rem;
}

.blog-container .info {
    justify-content: flex-start;
    gap: 2rem;
}

.blog-container .thumbnail {
    width: 20rem;
    object-fit: cover;
    height: 30rem;
}

.actions-btn {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    position: absolute;
    top: -2rem;
    right: 0;
}

.actions-btn button {
    border: none;
    background: none;
}

.action-btn img {
    width: 3rem;
}

.delete img {
    width: 2.75rem;
}
