.add-blog-title {
    border-bottom: 1px solid #ccc;
    padding-bottom: 0.5rem;
    margin-bottom: 2rem;
    font-size: 1.25rem;
    font-weight: 500;
    font-family: "Lora", serif;
    text-align: center;
}

form .actions {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1rem;
}

form .actions button {
    text-transform: capitalize;
}

.submit-btn {
    margin: 0;
}

.blogs-grid {
    margin-top: 4rem;
    display: grid;
    gap: 2rem;
    align-items: stretch;
    grid-template-columns: 1fr;
}

.blog {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 1rem;
    overflow: hidden;
    display: block;
    color: #333;
    text-decoration: none;
    transition: all 0.25s ease;
}

.blog:hover {
    transform: translateY(-3px);
}

.blog .thumbnail {
    width: 100%;
    object-fit: cover;
    height: 22rem;
}

.blog .text-content {
    padding: 1rem;
}

.info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.tag {
    background-color: #e0c8c6;
    text-transform: uppercase;
    font-weight: 300;
    width: fit-content;
    padding: 0.25rem 1rem;
    letter-spacing: 2px;
}

.title {
    font-family: "Lora", serif;
    font-size: 1.25rem;
    font-style: italic;
    margin: 1rem 0;
}

.blog .description {
    font-weight: 300;
    font-size: 1rem;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 7.5em;
    line-height: 1.5em;
}

/* blog-container */

.blog-container {
    /* margin-top: 4rem; */
    position: relative;
}

.blog-container .main-content {
    display: flex;
    flex-direction: column;
    /* gap: 2rem; */
}

.blog-container .description {
    font-size: 1.05rem;
}

.blog-container .info {
    justify-content: flex-start;
    gap: 2rem;
    flex-wrap: wrap;
}

.blog-container .thumbnail {
    /* width: 20rem; */
    /* height: 30rem; */
    width: auto;
    object-fit: cover;
    height: 25rem;
}

.actions-btn {
    display: flex;
    align-items: center;
    gap: 1.25rem;
    position: absolute;
    right: 0;
    top: -4rem;
}

.actions-btn button {
    border: none;
    background: none;
}

.action-btn img {
    width: 2.5rem;
}

.delete-btn img {
    width: 2.4rem;
}

@media (min-width: 768px) {
    .blogs-grid {
        grid-template-columns: 1fr 1fr;
    }

    .blog-container .main-content {
        flex-direction: row;
        gap: 2rem;
    }

    .actions-btn {
        top: -3rem;
    }
}

@media (min-width: 1024px) {
}

@media (min-width: 1440px) {
    .blogs-grid {
        grid-template-columns: 1fr 1fr 1fr;
    }

   
}

@media (min-width: 1600px) {
}

@media (min-width: 1920px) {
}
